* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("./Components/Asset/GilroyFonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: 'Gilroy-Black';
  src: url("./Components/Asset/GilroyFonts/Gilroy-Black.ttf");
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("./Components/Asset/GilroyFonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("./Components/Asset/GilroyFonts/Gilroy-Medium.ttf");
}

:root {
  --gilroy-bold: gilroy-bold;
  --gilroy-black: gilroy-black;
  --gilroy-regular: gilroy-regular;
  --gilroy-medium: gilroy-medium;
}



